.no-animation{
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
    display: none;
}

.dark{
    z-index: 3;
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;    
    opacity: .75;
}

.bg-wrapper{
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
    opacity: .8;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}

.bg-wrapper .bg{
    -moz-transition: opacity 3s ease, visibility 3s;
    -webkit-transition: opacity 3s ease, visibility 3s;
    -ms-transition: opacity 3s ease, visibility 3s;
    transition: opacity 3s ease, visibility 3s;
    background-size: cover;
    background-position: center;
    height: 100% !important;
    width: 150% !important;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.bg-wrapper .bg.visible{
    -moz-animation: move-bg 45s linear infinite;
    -webkit-animation: move-bg 45s linear infinite;
    -ms-animation: move-bg 45s linear infinite;
    animation: move-bg 45s linear infinite;
    opacity: 1;
    visibility:visible;
    z-index: 1;
}

.bg-wrapper .bg.visible.top{
    -moz-transition: opacity 3s ease, visibility 3s;
    -webkit-transition: opacity 3s ease, visibility 3s;
    -ms-transition: opacity 3s ease, visibility 3s;
    transition: opacity 3s ease, visibility 6s;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}

@-moz-keyframes move-bg {
    0% {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -moz-transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        transform: translateX(-25%);
    }
}

@-webkit-keyframes move-bg {
    0% {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -moz-transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        transform: translateX(-25%);
    }
}

@-ms-keyframes move-bg {
    0% {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -moz-transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        transform: translateX(-25%);
    }
}

@keyframes move-bg {
    0% {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -moz-transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        transform: translateX(-25%);
    }
}

.bg-wrapper .bg:only-child {
    -moz-animation-direction: alternate !important;
    -webkit-animation-direction: alternate !important;
    -ms-animation-direction: alternate !important;
    animation-direction: alternate !important;
}

body.is-loading .bg-wrapper{
    opacity: 0
}

.body-container{
    width: 100%;
    height: 100%;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0; 
}